<form action="/users/signin" method="post"> 
	Username: <input name="username" placeholder="Username" type="text"><br />
	Password: <input name="password" placeholder="Password" type="password"><br />
	<button type="submit">Sign in</button>
</form>